.banner {
    position: relative;
}

.banner img {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

.banner-title {
    font-size: 6vw;
}

.banner-caption {
    font-size: 2vw;
}

.banner-text {
    position: absolute;
    height: 100%;
}

#btn-shop-banner {
    font-size: 1.5vw;
    border-radius: 25px;
    color: white;
    background: black;
    border: none;
}

.btn-card-reviews {
    width: 100%;
    border-radius: 25px;
    border: none;
    background-color: black;
}

.reviews {
    padding: 10vw 5vw;
}

.reviews-text {
    width: 14rem;
}

.card {
    width: 18rem;
    border-radius: 0;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.card-body:hover {
    color: #34D84A;
    transition: ease-out 0.3s;
}

.card-img {
    border-radius: 0;
    padding: 32px;
    height: 10rem;
    object-fit: cover;
    transition: ease-out 0.5s;
}

.card-img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.g-col-3 {
    border: 1px solid black;
}

.collections {
    padding: 8vw 5vw;
}